<!DOCTYPE html>
{% load static %}
<html>
<body>
    <head>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <h1>this is home page{{context}} </h1>
    <center> <img src="{% static 'image.png' %}"</center>
    <section class="header_section">
        <div class="container">
            <div class="header_box">
                <div class="header_btn">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'test' %}">Product</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>